<div class="row center-align">
  <div class="col s12 center-align">
      <button class='btn' ng-click='pc.checkoutAllStudents(pc.studentArray)' type="button" name="button">Check-out All Students</button>
  </div>
</div>

<div class="row" ng-init="pc.loadClassInfo()">
  <!-- checkedout -->
  <div class="col l6 s6">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>
            <h3>Not Checked-in Students</h3></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="parentTR" ng-repeat="student in pc.studentArray | orderBy:'firstName'" ng-if="student.checkedIn == 'false'">
          <td class="parentTD" ng-click='pc.checkInStudent(student)'>
            <i class="material-icons">check_box_outline_blank</i>
          </td>
          <td class="waves-effect waves-light btn checkInBtn" ng-click='pc.checkInStudent(student)'>
            {{student.firstName}} {{student.lastName}}
          </td>
          <td ng-show="student.initialized" class="waves-effect waves-teal btn-flat">Info</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col verticalDivider">

  </div>
  <!-- checkedin -->
  <div class="col l5 s5">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>
            <h3>Checked-in Students</h3></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="parentTR" ng-repeat="student in pc.studentArray | orderBy:'firstName'" ng-if="student.checkedIn == true">
          <td class="parentTD" ng-click='pc.checkOutStudent(student)'>
            <i class="material-icons">check_box</i>
          </td>
          <td class="waves-effect waves-light btn checkInBtn" ng-click='pc.checkOutStudent(student)'>
            {{student.firstName}} {{student.lastName}}
          </td>
          <td ng-show="student.initialized" class="waves-effect waves-teal btn-flat">Info</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="keypad" class="modal">
  <div class="modal-content animate">
    <span>PIN is: <input type="password" data-ng-model="pc.pinEntry"></span>
    <bc-keypad
    bc-number-model="pc.pinEntry"
    bc-max-length="4"
    bc-left-button="backspace"
    bc-right-button="submit"
    bc-right-button-method="pc.enterCheckoutPin($event, numbers)"
    ></bc-keypad>
    <!-- <span class="close animate" onclick="document.getElementById('keypad').style.display = 'none'">&times;</span> -->
    <button class='btn left' ng-click='pc.keypadClose()' type="button" name="button">Cancel</button>
  </div>
</div>
