/*Navigation styles*/

.side-nav {
  background-color: $sideNavColor !important;
}

.navButton {
  display: inline-block !important;
}

.navLogo {
  height: inherit;
}

.collapsible-header {
  padding: 0 32px !important;
}

.collapsible-item{
  padding: 0 40px !important;
}

.navCollapse {
  background-color: $navCollapse;
}

.sideNav-logo {
  height: auto;
  width: 100%;
}

.menu {
  font-size: 8vh !important;
}

.header {
  font-size: 1.7rem;
  color: $htmlBackground;
}

.headCol {
  height: inherit;
}

nav {
  height: 10vh;
  background-color: $navColor;
  position: relative;
  z-index: 10;
}

.title {
  display: inline-block;
}

.disabled {
  color: rgba(0,0,0,0.4);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}
