html {
  background-image: url("../assets/images/abstract.jpg");
}

.marginBottom {
  margin-bottom: 40px;
}

.marginTop {
  margin-top: 40px;
}

.marginAuto {
  margin: auto;
}

.card {
  padding: 20px !important;
}

.verticalDivider {
     border-right:3px solid $buttonColor;
     border-left:3px solid $buttonColor;
     background-color: $buttonColor;
     height: 100%;
     position: absolute;
     top: 14vh;
     right: 50vw;
}

.fullheight {
  height: 86vh;
}

.pagin {
  height: 5vh;
  width: 5vh;
  margin-left: 10px;
  margin-top: 20px;
  border: 1px solid $buttonColor;
  display: inline-block;
}

.paginFirst {
  margin-left: 0px;
}

.paginFill {
  background-color: $buttonColor;
}

/*table styles*/

.tb {
  background: $complimentaryColor;
}

table {
  color: #333;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}

td, th {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
  border-radius: 0px;
}

th {
  // background: #59C3C3;
  color: black;
  text-align: center;
  font-weight: bold;
}

td {
  background: #FFF;
  text-align: center;
}

/* modal styles */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh !important;
    max-height: 100vh !important;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-container {
  min-height: 10vh;
  overflow: auto;
}

.modal-content {
  vertical-align: middle;
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 50vw;
    overflow-y: auto;
     -webkit-overflow-scrolling: touch;
     min-height: 10%;
     max-height: 100vh;
}

.animate {
    animation: animatezoom 1s
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#phoneNumberModal{
  width: 40vw;
  height: auto;
}
