/* login styles */

.loginDivider {
  font-size: 7.7rem;
  margin: 1rem;
}

.loginBtn {
  height: 8vh;
  align-items: center;
  font-size: 2.5rem;
  display: inline-flex;
  align-items: center;
}

.loginImg {
  height: inherit;
}
