/*Variable styles*/
$navColor: #4fc3f7;
$sideNavColor: #4fc3f7;
$navCollapse: #2196f3;
$inputColor:  #2196f3;
$buttonColor: #2196f3;
$monthPickerTop: #2196f3;
$pickerBody: #03A9F4;
$pickerText: #B3E5FC;

/*Import styles*/
@import 'navigation';
@import 'login';
@import 'generalStyles';
@import 'inputs';
@import 'studentsDash';
