<div ng-init='cc.populateClasses(); cc.getInstructors()' class="row">
  <div class="col s12">
    <h4 class="center-align">Welcome {{cc.name}}</h4>
  </div>
</div>
<div class="row">
  <div class="col s12 center-align">
    <button class="btn" onclick="document.getElementById('addClass').style.display = 'block'">Add Class</button>
  </div>
</div>
  <div class="row">
    <div class="col s12">
      <table>
        <tr>
          <th class="tb">Instructors</th>
          <th class="tb">Name</th>
          <th class="tb">District</th>
          <th class="tb">Days</th>
          <th class="tb">Start Date</th>
          <th class="tb">End Date</th>
          <th class="tb">Time</th>
          <th class="tb">Grades</th>
          <th class="tb">View class</th>
          <th class="tb">Edit class</th>
          <th class="tb">Delete class</th>
        </tr>
        <tr ng-repeat='x in cc.classesArray '>
          <td><span ng-repeat="instructor in x.instructors">{{instructor.name}}{{$last ? '' : ', '}} </span></td>
          <td>{{ x.subject }}</td>
          <td>{{ x.location }}</td>
          <td>{{ x.startDate | date : 'EEE' }}-{{ x.endDate | date : 'EEE'}}</td>
          <td>{{ x.startDate | date : 'mediumDate'}}</td>
          <td>{{ x.endDate | date : 'mediumDate'}}</td>
          <td>{{x.startTime}} - {{x.endTime}}</td>
          <td>{{ x.grades }}</td>
          <td>
            <button class="btn" ng-click="cc.classView(x._id)">
              <i class="small material-icons">people</i>
            </button>
          </td>
          <td>
            <button class="btn" ng-click="cc.editClass($index)">
              <i class="small material-icons">create</i>
            </button>
          </td>
          <td>
            <button class="btn cancel" ng-click="cc.removeClass(x._id)">
              <i class="small material-icons">delete</i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- The addClass Modal -->
  <div id="addClass" class="modal">
    <div class="modal-content animate">
      <form id="addClassForm" class="row">
        <div class="input-field col s9" ng-repeat="number in cc.inputNumber">
          <i class="material-icons prefix">person</i>
          <select class="" ng-model="cc.instructor[number]" id="instructor{{$index}}" material-select watch>
            <option value="" disabled selected style="display: none;">instructors</option>
            <option ng-repeat='user in cc.users' value="{{$index}}">{{user.name}}</option>
          </select>
        </div>
        <div class="col s3">
          <button tooltipped class="btn btn-floating" name="button" ng-click="cc.addInput()" data-position="left" data-delay="50" data-tooltip="Add instructor box">
            <i class="material-icons prefix">add</i>
          </button>
          <button tooltipped class="btn cancel btn-floating" name="button" ng-click="cc.subInput()" data-position="right" data-delay="50" data-tooltip="Remove instructor box">
            <i class="material-icons prefix">cancel</i>
          </button>
        </div>
        <div class='input-field col l12 s12' input-field>
          <i class="material-icons prefix">grade</i>
          <select class="" ng-model="cc.gradesArray" material-select multiple watch>
            <option value="" disabled selected style="display: none;">Grade</option>
            <option ng-repeat='grades in cc.gradesRange'>{{grades}}</option>
          </select>
        </div>
        <div class="input-field col l12 s12">
          <i class="material-icons prefix">subject</i>
          <input ng-model='cc.subject' type="text" id="subject" value="">
          <label for="subject">Subject</label>
        </div>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">date_range</i>
          <input input-date type="text" id="start" format="mm/dd/yyyy" ng-model='cc.startDate'>
          <label for="start">Start Date</label>
        </div>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">date_range</i>
          <input input-date type="text" id="end" format="mm/dd/yyyy" ng-model='cc.endDate'>
          <label for="end">End Date</label>
        </div>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">timelapse</i>
          <label class="" for="startTime">Start Time</label>
          <input id="startTime" class="timepicker" ng-model="cc.startTime" input-clock data-twelvehour="true" type="text" />
        </div>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">timelapse</i>
          <label class="placeInLabel" for="endTime">End Time</label>
          <input id="endTime" class="timepicker placeInput" ng-model="cc.endTime" input-clock data-twelvehour="true" type="text" />
        </div>
        <div class="input-field col l12 s12">
          <i class="material-icons prefix">location_on</i>
          <input ng-model='cc.location' type="text" id="location" value="">
          <label for="location">Location</label>
        </div>
      </form>
      <div class="row">
        <!-- <div class="col s12 center-align">
          <button class='btn' ng-click='cc.addClass()' type="button" name="button">Save Class</button>
        </div> -->
        <div class="col s12 center-align">
          <a class="waves-effect waves-light btn" ng-click='cc.addClass()' message="Class Saved" duration="1500" toast='click'>Save Class</a>
          <a class="waves-effect cancel waves-light btn" onclick="document.getElementById('addClass').style.display = 'none'" message="Class Canceled" duration="1500" toast='click'>Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <!-- The editClass Modal -->
  <div id="editClass" class="modal">
    <div class="modal-content animate">
      <form class="row">
        <div class="input-field col s9" ng-repeat="obj in cc.instructorsUP">
          <i class="material-icons prefix">person</i>
          <select class="" ng-model="obj.name" material-select watch>
            <option value="" disabled selected style="display: none;">instructors</option>
            <option ng-repeat='user in cc.users'>{{user.name}}</option>
          </select>
        </div>
        <div class="col s3">
          <button tooltipped class="btn btn-floating" name="button" ng-click="cc.addEditInput()" data-position="left" data-delay="50" data-tooltip="Add instructor box">
            <i class="material-icons prefix">add</i>
          </button>
          <button tooltipped class="btn btn-floating cancel" name="button" ng-click="cc.subEditInput()" data-position="right" data-delay="50" data-tooltip="Remove instructor box">
            <i class="material-icons prefix">cancel</i>
          </button>
        </div>
        <div class='input-field col l12 s12' input-field>
          <i class="material-icons prefix">grade</i>
          <select class="" ng-model="cc.gradesUP" material-select multiple watch>
            <option ng-repeat='grades in cc.gradesRange'>{{grades}}</option>
          </select>
        </div>
        <div class="input-field col l12 s12">
          <i class="material-icons prefix">subject</i>
          <input ng-model='cc.subjectUP' type="text" id="subjectUP" value="">
          <label for="subjectUP">Subject</label>
        </div>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">date_range</i>
          <input input-date type="text" id="startUP" format="mm/dd/yyyy" ng-model='cc.startDateUP'>
          <label for="startUP">Start Date</label>
        </div>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">date_range</i>
          <input input-date type="text" id="endUP" format="mm/dd/yyyy" ng-model='cc.endDateUP'>
          <label for="endUP">End Date</label>
        </div>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">timelapse</i>
          <label class="" for="startTimeUP">Start Time</label>
          <input id="startTimeUP" class="timepicker" ng-model="cc.startTimeUP" input-clock data-twelvehour="true" type="text" />
        </div>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">timelapse</i>
          <label class="placeInLabel" for="endTimeUP">End Time</label>
          <input id="endTimeUP" class="timepicker placeInput" ng-model="cc.endTimeUP" input-clock data-twelvehour="true" type="text" />
        </div>
        <div class="input-field col l12 s12">
          <i class="material-icons prefix">location_on</i>
          <input ng-model='cc.locationUP' type="text" id="locationUP" value="">
          <label for="locationUP">Location</label>
        </div>
      </form>
      <div class="row">
        <!-- <div class="col s12 center-align">
          <button class='btn' ng-click='cc.saveEdit()' type="button" name="button">Save Class</button>
        </div> -->
        <div class="col s12 center-align">
          <a class="waves-effect waves-light btn" ng-click='cc.saveEdit()' message="Edit Saved" duration="1500" toast='click'>Save Changes</a>
          <a class="waves-effect cancel waves-light btn" ng-click="cc.cancelEdit()" message="Edit Canceled" duration="1500" toast='click'>Cancel</a>
        </div>
      </div>
    </div>
  </div>

  <div id="addPhoneNumber" class="modal">
    <div id="phoneNumberModal" class="modal-content animate center-align">
      <h3>Please enter a phone number to continue</h3>
      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <i class="material-icons prefix">phone</i>
            <input phone-input ng-model="cc.phone"type="text" id="phone" name="phone">
            <label for="phone">Phone Number</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
            <button class="btn" name="button" ng-click="cc.savePhone()">Save</button>
        </div>
      </div>
    </div>
  </div>
