<div class="red fullheight">
  <div class="row">
    <div class="col s12">
      <h4 class="center-align">That is not an authenticated email! please try a different email or speak with an instructor</h4>
    </div>
  </div>
  <div class="row" ng-hide="auth.loggedIn">
    <a href= "/auth/google" class="btn loginBtn col s4 offset-s4 container" type="button" name="button">
      <img class="loginImg" src="public/assets/images/google_logo1600 (1).png" />
      <span class="loginDivider">|</span>
      <span>Sign in with Google</span>
    </a>

  </div>
</div>
