<div class="row" ng-init="inc.getInstructors()">
  <div class="center-align">
    <div ng-if='inc.admin' class="input-field col s5 offset-s2">
      <input  ng-model=inc.email type="text" id="instructorEmail" value="">
      <label for="instructorEmail">Instructors email</label>
    </div>
    <div class="col s3 center-align">
      <button ng-if='inc.admin' ng-click="inc.addUser()" class='btn center-align' type="button" name="button">Add Instructor</button>
    </div>
  </div>
</div>

<table>
  <tr>
    <th>Instructor Name</th>
    <th>Instructor Email</th>
    <th>Phone Number</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="user in inc.users">
    <td>{{user.googleName}}</td>
    <td>{{user.googleEmail}}</td>
    <td>
      <input phone-input ng-if="user.edit" class="center-align" type="text" ng-model="user.phone" value="">
      <p ng-if="user.notEdit">{{user.phone | tel}}</p>
      </td>
    <td>
      <button ng-if="user.notEdit" ng-click="inc.editB($index)" type="button" class="btn">Edit</button>
      <button ng-if="user.edit" ng-click="inc.save($index)" type="button" class="btn">Save</button>
    </td>
    <td>
      <button ng-click="inc.deleteInsctructor($index)" type="button" class="btn"><i class="small material-icons">delete</i></button>
    </td>
  </tr>
</table>
