<div class="row center-align marginTop" ng-init="inc.getInstructors()">
  <div ng-if='inc.admin' class="input-field col s4">
    <input  ng-model=inc.email type="email" id="instructorEmail" value="">
    <label for="instructorEmail">Instructors email</label>
  </div>
  <div ng-if='inc.admin' class="input-field col s4">
    <input  ng-model=inc.instName type="text" id="instructorName" value="">
    <label for="instructorName">Instructors name</label>
  </div>
  <div class="col s3 center-align">
    <button ng-if='inc.admin' ng-click="inc.addUser()" class='btn center-align' type="button" name="button">Add Instructor</button>
  </div>
</div>

<table>
  <tr>
    <th class="tb">Instructor Email</th>
    <th class="tb">Instructor Name</th>
    <th class="tb">Phone Number</th>
    <th class="tb">Edit</th>
    <th class="tb">Delete</th>
  </tr>
  <tr ng-repeat="user in inc.users">
    <td>{{user.googleEmail}}</td>
    <td>
      <input ng-if="user.edit" class="center-align" type="text" ng-model="user.googleName" value="">
      <p ng-if="user.notEdit">{{user.googleName}}</p>
    </td>
    <td>
      <input phone-input ng-if="user.edit" class="center-align" type="text" ng-model="user.phone" value="">
      <p ng-if="user.notEdit">{{user.phone | tel}}</p>
      </td>
    <td>
      <button ng-if="user.notEdit" ng-click="inc.editB($index)" type="button" class="btn">Edit</button>
      <button ng-if="user.edit" ng-click="inc.save($index)" type="button" class="btn">Save</button>
    </td>
    <td>
      <button ng-click="inc.deleteInsctructor($index)" type="button" class="btn"><i class="small material-icons">delete</i></button>
    </td>
  </tr>
</table>
