<div class="row" ng-init="inc.getInstructors()">
  <div class="center-align">
    <div ng-if='inc.admin' class="input-field col s6 offset-s1">
      <input  ng-model=inc.email type="text" id="instructorEmail" value="">
      <label for="instructorEmail">Instructors email</label>
    </div>
    <div class="col s3 center-align">
      <button ng-if='inc.admin' ng-click="inc.addUser()" class='btn center-align' type="button" name="button">Add Instructor</button>
    </div>
  </div>
</div>

<table>
  <tr>
    <th>Instructor Name</th>
    <th>Instructor Email</th>
    <th>Phone Number</th>
    <th>Edit</th>
  </tr>
  <tr ng-repeat="user in inc.users">
    <td>{{user.googleName}}</td>
    <td>{{user.googleEmail}}</td>
    <td><input ng-if="inc.edit" class="center-align" type="text" ng-model="user.phone" value=""><span ng-if="inc.notEdit">{{user.phone}}</span</td>
    <td>
      <button ng-if="inc.notEdit" ng-click="inc.editB($index)" type="button" class="btn">Edit</button>
      <button ng-if="inc.edit" ng-click="inc.editB($index)" type="button" class="btn">Save</button>
    </td>
  </tr>
</table>
